.grid{
    color: white;

}
.cardDetails{
 align-items:baseline;
}
/* .card-row {
    display: flex;
    justify-content: space-between;
  } */
.pos1{
    height: 380px;
    width: 250px;
    padding: 85px;
}
.pos2{
    height: 190px;
    width: 175px ;
    padding: 50px;
   
    margin-left: 260px;
    margin-top: -380px;
}

.pos3{
    height: 190px;
    width: 175px ;
    padding: 45px;
    margin-left: 450px;
    margin-top: -189px;
   
   
   
}
.pos4{
    height: 250px;
    width: 365px ;
    padding: 125px;
    margin-left: 260px;
    margin-top: 8px;
   
}
.pos5{
    height: 335px;
    width: 250px ;
    padding: 80px;
    text-align: center;
    margin-top: -60px;
   
   
}
.pos6{
    height: 260px;
    width: 368px ;
    padding: 100px;
    margin-left: 260px;
    margin-top: -260px;
   
}
  
  
    

