.Display-Container{
    display: block;
    width: 100%;
}
.nav_links{
    list-style: none;
    
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
  color: white;
}
/*@media screen and (max-width:1023px){
        
    .header{
        display: flex;
        /* grid-template-rows: 180px 130px 130px; */
        /* flex-wrap: wrap;

    }
    
}
@media screen and (max-width:1023px){
        
    .header{
        display: flex;
        grid-template-rows: 180px 130px 130px;
         flex-direction: row;

    }
} */

/* @media screen and (max-width: 1023px) {
    .Display-Container{
        display: flex;
        order: 2;
    }
} */

